*{
    padding: 0;
    margin:0;
}
html, body{
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #b3b3b3;
}
.homepage{
    width: 100%;
    background: #e9e9e9;
    background-image: url("../img/homepage2.jpg") ;
    background-repeat:no-repeat;
    background-size: 100%;
    background-position:0 40px;
}
/*顶部*/

.nav{
    position: fixed;
    width: 100%;
    height: 40px;
    background: black;
    z-index: 99;
}
.nav1{
    margin: 0 auto;
    width: 1050px;
    height: 40px;
}
.nav .logo{

    margin: 5px 0 0 0;

}
.nav .navL{
    float: left;
    width: 424px;
    height: 40px;
    margin: -35px 0 0 93px;
    text-align: center;
}
.nav .navL li{
    display: block;
    float: left;
    line-height: 40px;
}
.nav .navL li a{

    display: block;
    text-decoration:none;
    color:#b3b3b3;
}
.nav .navL li a:hover{
    background: #333;
}
.nav .navL li:nth-child(1){
    width: 91px;
}
.nav .navL li:nth-child(2){
    width: 101px;
}
.nav .navLi li:nth-child(3),:nth-child(5){
    width: 77px;
}
.nav .navLi li:nth-child(4){
    width: 77px;
}
.navLi span{
    margin-left: -15px;
}

.nav .navLi p{
    float: left;
    margin-top: 12px;
    width: 25px;
    height: 22px;
}
.nav .navLi li:nth-child(1) p{
    background: url("../img/navli.png")no-repeat -556px -155px;
}
.nav .navLi li:nth-child(2) p{
    background: url("../img/navli.png")no-repeat -556px -208px;
}
.nav .navLi li:nth-child(3) p{
    background: url("../img/navli.png")no-repeat -556px -181px;
}
.nav .navLi li:nth-child(4) p{
    background: url("../img/navli.png")no-repeat -556px -234px;
}
.nav .navLi li:nth-child(5) p{
    background: url("../img/navli.png")no-repeat -556px -260px;
}
.nav .navLi li i{
    width: 0;
    height: 0;
    font-size: 0;
    border-width: 3px;
    border-style: solid dashed dashed dashed;
    border-top-style: solid;
    border-right-style: dashed;
    border-bottom-style: dashed;
    border-left-style: dashed;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: 19px;
}
.nav .mp3{
    float: left;
    width: 70px;
    height: 40px;
}
.nav .mp3:hover{
    background:white;
}
.nav .inp{
    float: right;
    width: 137px;
    height: 20px;
    margin:-30px 180px 0 0;
}
.nav .inp .i{
    float: right;
    width: 20px;
    height: 20px;
    z-index: 2;
    margin-top: -20px;
    background: url("../img/navli.png") no-repeat -552px -128px;
}
.nav .inp input{
    float: right;
    color: #b3b3b3;
    width: 137px;
    height: 20px;
    background: #555;
    border: none;
    border-radius: 2px;
}
/*顶部右侧*/
.loginbar{
    float: right;
        width: 400px;
        height: 40px;
    margin-top: -35px;
}

.loginbar a{
    float: right;
    height: 40px;
    line-height:40px;
    text-align: center;
    padding: 0 5px;
    color: #b3b3b3;
}
.loginbar a img{
    vertical-align: middle;
    width: 25px;
    height: 25px;
}
.loginbar a .bt{
    height: 20px;
    width: 20px;
    margin-top: 10px;
    background: url("../img/navli.png")no-repeat;
}
.loginbar a .bj1{
    background-position:-560px -50px;
}
.loginbar a .bj2{
    background-position:-586px -50px;
}
.loginbar a .bj3{
    margin-top:10px;
    width: 20px;
    height: 20px;
    background: url("../img/qzone-vip.gif");
}
.loginbar a:hover{
    background-color: #333;
}
/*头部*/
.header{
    margin: 0 auto;
    width: 1050px;
    height: 300px;
}
.header .headline h1{
    text-shadow : 1.5px 1.5px 5px #333;
    color:white;
    margin-top: 60px;
    font-size: 28px;
    float: left;
    font-weight:normal
}
.header .headline a{
    width: 30px;
    height: 30px;
    background: url("../img/grade.png")no-repeat;
}
/*内容*/
.content{
    margin: 0 auto;
    width: 1050px;
    height: 1000px;
    background: green;
    opacity: 0.4;

}
.content .lmenu{
    float: left;
    width: 200px;
    height: 1000px;
    background: darkblue;
}
.content .main{
    float: left;
    margin-left:25px;
    width: 500px;
    height: 1000px;
    background: blue;
}
.content .rmenu{
    float: right;
    width: 300px;
    height: 1000px;
    background: rebeccapurple;
}
/*底部*/
.footer{
    width: 100%;
    height: 125px;
    background: black;
}
.footer .guild{
    position: fixed;
    right: 20px;
    bottom: 80px;
    width: 50px;
    height: 100px;
    background: #151313;
    text-align: center;

}
.footer .guild a{
    line-height: 50px;
    color: #666;
    display: block;
    height: 50px;
    width: 50px;
    text-decoration:none;
    overflow: hidden;
}
.footer .guild :nth-child(1){
    height: 49px;
    border-bottom:1px solid black;
}
.footer .guild a span{
    float: left;
    display: block;
    width: 50px;
    overflow: hidden;
}
.footer .guild a span:hover{
    background: #333;
    margin-top: -50px;
}
.footer .guild a:hover{
    background: #333;
}


